Checks: >
  -*,
  clang-diagnostic-*,
  modernize-*,
  readability-*,
  performance-*,
  bugprone-*,
  clang-analyzer-*,
  -modernize-use-trailing-return-type,
  readability-identifier-namingWarningsAsErrors: 'modernize-*'

WarningsAsErrors: 'modernize-*'

FormatStyle: file

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstantCase
    value: camelBack
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
