# Build directories
build/
cmake-build-*/

# Compiled object files
*.o
*.obj

# Compiled executables
*.exe
*.out
*.app

# Dynamic libraries
*.so
*.dll
*.dylib

# Static libraries
*.a
*.lib

# IDE
.vscode/
.idea/
