name: Build all targets (Clang)
permissions:
  contents: read

on:
  push:

jobs:
  build_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y cmake ninja-build clang lld

      - name: Make config script executable
        run: chmod +x ./configure-cmake.sh

      - name: Run build
        run: ./configure-cmake.sh && cmake --build build
        shell: bash
        env:
          CC: clang
          CXX: clang++
          LDFLAGS: -fuse-ld=lld
